// Breakpoints
/* ===== == = === 20em (320px) === = == ===== */
$screen-xs: "(min-width: 20em)";
/* ===== == = === 37.5em (600px) === = == ===== */
$screen-sm: "(min-width: 37.5em)";
/* ===== == = === 48em (768px) === = == ===== */
$screen-md: "(min-width: 48em)";
/* ===== == = === 68.75em (1100px) === = == ===== */
$screen-lg: "(min-width: 68.75em)";
/* ===== == = === 81.25em (1300px) === = == ===== */
$screen-xl: "(min-width: 81.25em)";
/* ===== == = === 112.5em (1800px) === = == ===== */
$screen-xxl: "(min-width: 112.5em)";



:root {
  --bg-color: #151317;
  --text-color: #fff;

  --black: #151317;
  --dark-grey: #46414a;
  --white: #fff;

  --lila: #B5A5C9;
  --olive: #8D9C7B;
  --blue: #623CEA;
  --pink: #DB4270;

  --ratio: 1.125;

  @media #{$screen-md} {
    --ratio: 1.333;
  }

  --base-size: 1em;

  --spacing-xs: calc(var(--spacing-sm) / var(--ratio));
  --spacing-sm: calc( var(--base-size) / var(--ratio) );
  --spacing-base: var(--base-size);
  --spacing-md: calc( var(--base-size) * var(--ratio) );
  --spacing-lg: calc( var(--spacing-md) * var(--ratio) );
  --spacing-xl: calc( var(--spacing-lg) * var(--ratio) );
  --spacing-xxl: calc( var(--spacing-xl) * var(--ratio) );

  --letter-spacing-base: 0.02em;
  --letter-spacing-lg: 0.1em;
}
