.client {
  background-color: var(--white);
  color: var(--black);
  border: solid 2px var(--black);
  padding: var(--spacing-base);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--white);
  transition: 0.5s all;

  &.active {
    &:first-child {
      background-color: #3535FF;
      color: var(--white);
    }

    &:nth-child(2) {
      background-color: #208776;
      color: var(--white);
    }

    &:nth-child(3) {
      background-color: #DDE300;
      color: var(--black);
    }

    &:nth-child(4) {
      background-color: #E95C22;
      color: var(--black);
    }

    &:nth-child(5) {
      background-color: #BDD24F;
      color: var(--black);
    }

    &:nth-child(6) {
      background-color: #71C0B9;
      color: var(--black);
    }

    &:nth-child(7) {
      background-color: #83A774;
      color: var(--black);
    }

    &:nth-child(8) {
      background-color: #BA0C2F;
      color: var(--white);
    }

    &:nth-child(9) {
      background-color: #3A86A2;
      color: var(--white);
    }
  }


  &__name {
    font-family: "Habitas-Medium";
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  &__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 30vw;

    &.hide {
      display: none;
    }
  }

  &__screenshot {
    object-fit: cover;
    max-width: 30vw;
    border: solid var(--spacing-xs) var(--black);
  }
}
