.client {
  // in order to have video positioned absolute;
  position: relative;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  background-color: var(--white);
  color: var(--black);
  border: solid 2px var(--black);
  transition: 0.2s all;

  &.active {
    padding-bottom: var(--spacing-md);

    &.musicdirectory {
      background-color: #3535FF;
      color: var(--white);

      .client__button {
        color: var(--white);
      }
    }

    &.petition {
      background-color: #A4A03F;
    }

    &.glaslabor {
      background-color: #FA6016;
    }

    &.menschenhandel {
      background-color: #208776;
      color: var(--white);

      .client__button {
        color: var(--white);
      }
    }

    &.helvetiarockt {
      background-color: #DDE300;
    }

    &.konzerninitiative {
      background-color: #E95C22;
    }

    &.femalemusiclab {
      background-color: #BDD24F;
    }

    &.genossenschaft {
      background-color: #71C0B9;
    }

    &.sanspapierszuerich {
      background-color: #83A774;
    }

    &.gsoa {
      background-color: #BA0C2F;
      color: var(--white);

      .client__button {
        color: var(--white);
      }
    }

    &.wide {
      background-color: #3A86A2;
      color: var(--white);

      .client__button {
        color: var(--white);
      }
    }
  }

  // title
  &__button {
    display: block;
    @include container(both);
    width: 100%;
    font-family: "Habitas-Medium";
    text-transform: uppercase;
    display: flex;
    justify-content: center;

    @media #{$screen-md} {

      .active & {
        justify-content: flex-start;
      }
    }
  }

  &__buttonText {
    display: inline-block;
    font-size: var(--spacing-md);
    // for scaling the text
    will-change: transform;
    transform-origin: center;
  }

  &__information {
    margin-top: var(--spacing-md);

    &.hide {
      display: none;
    }
  }

  &__textWrapper {
    @include container(both);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media #{$screen-md} {
      width: 50%;
      @include container(left);
    }
  }

  // link to website incl fluid hover
  &__link {
    font-family: "Habitas-Medium";
    text-transform: uppercase;
    font-size: var(--spacing-sm);
    margin-top: var(--spacing-base);
    letter-spacing: var(--letter-spacing-lg);
    padding: var(--spacing-base) var(--spacing-md);
    border-radius: 71% 29% 78% 22% / 35% 58% 42% 65%;
    border-style: solid;
    border-width: var(--spacing-xs);
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
    transition: all 0.25s;
    width: 80%;
    text-align: center;

    @media #{$screen-md} {
      align-self: flex-start;
    }

    &:hover {
      border-radius: 29% 71% 33% 67% / 80% 42% 58% 20% ;
    }
  }

  &__video {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);

    @media #{$screen-md} {
      margin-top: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5vw;
      left: auto;
    }
    @media #{$screen-xxl} {
      right: calc((100vw - 1400px)/2);
    }
    @media #{$screen-lg} {
      right: 8vw;
    }
    @media #{$screen-xxl} {
      right: calc((100vw - 1400px)/2);
    }
  }
}
