.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-family: "Habitas-Medium";
    font-size: 3vw;
    margin-left: -0.2vw;

    &--i {
      text-transform: lowercase;
    }
  }

  &__title,
  &__subtitle {
    text-transform: uppercase;
  }

  &__subtitle {
    line-height: 0.7;
    font-size: 1.4vw;
    font-weight: 300;
  }
}
