// firefox: but not working ?!
* {
  scrollbar-width: auto;
  scrollbar-color: var(--black) var(--white);
}

// to avoid horizontal scrollbar:
body {
  overflow-x: hidden;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: var(--spacing-sm);
}

// make it thicker on  body
body::-webkit-scrollbar {
  width: var(--spacing-base);
}

*::-webkit-scrollbar-track {
  background: var(--white);
}
*::-webkit-scrollbar-thumb:vertical {
  background-color: var(--black);
}
