.video {
  border: solid black 4px;
  padding-bottom: 15.25%;
  height: 0;
  width: 30%;
  overflow: hidden;
  position: relative;

  &__wrapper {
    position: relative;
    padding-bottom: 200%;
    transform: translateY(-36.95%);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
