@import 'node_modules/css-reset-and-normalize/scss/reset-and-normalize';

@import "fonts/habitas-bold.scss";
@import "fonts/habitas-medium.scss";

@import "base/variables.scss";
@import "base/typography.scss";

@import "partials/header.scss";
@import "partials/nav.scss";
@import "partials/section.scss";
@import "partials/intro.scss";
@import "partials/client.scss";
@import "partials/about.scss";
@import "partials/quotes.scss";
@import "partials/contact.scss";
@import "partials/footer.scss";


@import "partials/pointer.scss";
@import "partials/scrollbar.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-system-ui);
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: none;
  // pointer-events: none;
  padding: var(--spacing-sm);
}

a, button {
  cursor: none;
}
