<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.subtitle }}<meta name="description" content="{{ . }}">{{ end }}



	<link rel="stylesheet" href="https://use.typekit.net/wvo3pan.css">
	{{ $style := resources.Get "/sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

</head>
<body>

	<svg width="35" height="35" xmlns="http://www.w3.org/2000/svg" id="pointer">
		<circle cx="205.5" cy="2256.5" r="15.5" transform="translate(-188 -2239)" fill="#FFF" stroke="#FFF" stroke-width="2.5" fill-rule="evenodd"/>
	</svg>


	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}


	{{- $transpiled := resources.Get "js/main.js" | babel  -}}
	<script defer language="javascript" type="text/javascript"  src="{{ $transpiled.Permalink }}"></script>
</body>
</html>
