<section id="about">
  <h2 class="section__title">About</h2>

  <div class="about">
    <p>
      I build custom websites since more than 7 years each tailored to the specific need of the individual client. Every website I build has the end user in mind, is accessible, robust and easily maintanble.
    </p>
    <p>
      I offer help from the very beginning of a project with conceptualising, figuring out the target audience, wireframing, designing and can eventually build your website.
      After launching I'm happy to help you maintaining the website in a sustainable and lasting way.
    </p>
    <p>
      I work with clients from a lot of different sectors but especially 🤍 to work with Non Profit Organisations and clients from the art and the cultural sector.
    </p>
    <p>
      If you have something in mind I can help you with, drop me a line. I look forward to hear from you!
    </p>

    <!-- <p>
      I love to collaborate with other designers and developers, in the past I had the pleasure to work amongst others with the following people and agencies: Moana Bischof (Designer), Julia Weiss (Designer), Webkinder (Webagency), About Blank (Designagency).
    </p> -->

  </div>

</section>
