<section>
  <p>
    Since more than 6 years I build custom Websites each tailored to the specific need of the client.

    Every website has the user in mind, is accessible, robust and easily maintanble.

    I can help you from the very beginning of a project with conceptualising, figuring out the target audience, wireframing, designing and eventually developing the website.
    After launching the website I'm happy to help you maintaining the website in a sustainable and lasting way.

    I work with clients from a lot of different sectors but do a lot of work for Non Profit Organisations and from the cultural sector.

    If you have something in mind I can help you with, drop me a line. I look forward to hear from you!

  </p>

</section>
