<section id="contact">
  <h2 class="section__title">Contact</h2>

  <div class="contact">

    <p class="contact__msg">I look forward to hear from you!</p>

    <a href="mailto:hello@ninaregli.com" class="contact__email">
      <div class="contact__emailWrapper">
        <span class="contact__emailSpan">hello@ninaregli.com</span>
        <span class="contact__emailSpan">hello@ninaregli.com</span>
        <span class="contact__emailSpan">hello@ninaregli.com</span>
        <span class="contact__emailSpan">hello@ninaregli.com</span>
      </div>
    </a>
  </div>


</section>
