<section id="work">
  <h2 class="section__title">Recent Work</h2>


  <ul>
    {{ $.Scratch.Set "counter" 0 }}
    {{ range $.Site.Data.work }}
      <li class="client">

        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}

        <button type="button" name="button" aria-expanded="false"
        aria-controls='section_{{$.Scratch.Get "counter"}}' data-index-number='{{$.Scratch.Get "counter"}}' class="client__button">{{ .title }}</button>

        <div class="client__information hide" id='section_{{$.Scratch.Get "counter"}}'>

          <div class="client__textWrapper">
            <p class="client__work">[ {{ .work }} ]</p>
            <a class="client__url" href="{{ .url }}" >View Website</a>
          </div>


          <div class="client__video video">
            <div class="plyr__video-embed" id="player">
              <iframe
                src={{ print "https://player.vimeo.com/video/" .video "?autoplay=1&loop=1&autopause=0&muted=1"}}
                allowtransparency
                allow="autoplay"
              ></iframe>
            </div>
          </div>


        </div>

      </li>
    {{ end }}
  </ul>
</section>
